.container {
    position: relative;
    width: 1365px;
    margin: auto;
}
.carousel {
    gap: 10px;
    width: inherit;
    overflow-x: scroll;
    animation: fadeIn 0.4s linear 0s;
    display: flex;
    flex-direction: row;
    scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  width: 0;
}
.btn {
    position: absolute;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 2rem;
    padding: 8px 12px;
    border-radius: 50%;
    border: none;
    color: #000;
    box-shadow: 0px 0px 2px #555;
    z-index: 8;
}
#left_btn {
    top: 336px;
    left: -40px;
    transform: rotateY(180deg);
}
#right_btn {
    top: 336px;
    right: -40px;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@media(max-width: 1470px){
    .container {
        width: 1250px;
    }
}
@media(max-width: 1100px){
    .container {
        width: 800px;
    }
}
@media (max-width: 600px) {
    .container {
        width: 85vw;
        margin: auto;
    }
    .btn {
        position: relative;
        width: 48%;
        border-radius: 10px;
        color: #fafafa;
        background-image: linear-gradient(0deg, #212427, #333);
        box-shadow: 0px 1px 4px #000;
    }
    #left_btn, #right_btn {
        top: 0;
        left: 0;
    }
    #left_btn { margin-right: 2%; }
    #right_btn { margin-left: 2%; }
    .carousel { margin-top: 10px; }
    @media(prefers-color-scheme: light) {
        .btn {
            background-image: linear-gradient(180deg, #fff, #ddd);
            color: #222;
            box-shadow: 0 1px 4px #505050;
        }
    }
}