#container {
    cursor: pointer;
}
#summary {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#summary::before {
    display: inline-block;
    position: absolute;
    left: -42px;
    top: 7px;
    color: transparent;
    text-shadow: 0px 0px 0px #333;
}
.plus::before { content: "➕"; }
.minus::before { content: "➖"; }
#summary::marker { content: ""; }
#container p {
    cursor: default;
    font-size: 1.3rem;
    line-height: 1.3rem;
    padding-left: 30px;
}
@media(prefers-color-scheme: dark){
    #summary::before { text-shadow: 0px 0px 0px #fafafa; }
}
