.container {
    width: 90%;
    margin: auto;
    margin-top: 30px ;
}
#head {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
}
.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#profile_picture {
    border-radius: 50%;
}
#dev_name {
    text-align: center;
    color: #f0f0f0;
}
#title { font-size: 3rem; }
.description {
    font-size: 1.2rem;
    color: #fafafa;
    margin-bottom: 20px;
}
.link {
    color: var(--primary-colour);
}
.subtitle {
    position: relative;
    font-size: 2.1rem;
    line-height: 3rem;
    color: #fafafa;
    display: inline-block;
    background-image: linear-gradient(0deg, #fafafa 2px 2px, transparent 2px 100%);
    background-size: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease-in-out 0s; 
}
.subtitle:hover { background-size: 100%; }
.arrow {
    display: none;
    color: #fafafa;
    font-size: 2.1rem;
}
.subtitle:hover > .arrow {
    display: inline-block;
    animation: wiggle 0.2s linear 0s;
}
.link_section {
    color: #fafafa;
    padding: 10px;
    border-radius: 10px;
}
.social_icon {
    background-color: #fff;
    border: 1px solid #fff !important;
    border-radius: 7px;
}
.social_icon:hover {
    border: 1px solid var(--primary-colour) !important;
}
.social_link:hover {
    transform: translateY(1px);
}
#blocks {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
#projects_row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
}
#projects_text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: linear-gradient(45deg, #0d6efd, #3586ff, #0d6efd);
}
#posts_row {
    display: grid;
    grid-template-columns: auto 1fr;
}
#posts { background-image: linear-gradient(45deg,#be1bff,#ce53ff, #be1bff); }
#post_description { font-size: 1.2rem; }
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes wiggle {
    0% {
        transform: translateX(0px);
        opacity: 0;
    }
    50% {
        transform: translateX(5px);
        opacity: 1;
    }
    100% { transform: translateX(0px); }
}
#featured_projects {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: flex-start;
}
@media(prefers-color-scheme: light) {
    #dev_name {
        color: #000;
    }
    #intro_text {
        color: #222;
    }
}