.container {
    width: 90%;
    margin: auto;
    margin-top: 30px ;
    display: grid;
    gap: 30px;
    grid-template-columns: auto 1fr;
}
.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#profile_picture {
    border-radius: 50%;
}
#title { font-size: 3rem; }
.description { font-size: 1.2rem; }
#side_bar {
    position: sticky;
    top: 65px;
}
.link {
    color: #0d6efd;
    text-decoration: underline;
}
.subtitle { font-size: 2.1rem; }
#post_description { font-size: 1.2rem; }
.buffer {
    height: 1000px;
}