.card {
    background-color: #fcfcfc;
    border: 1px solid #555;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
    align-items: center;
    padding: 10px;
}
.cover_image {
    border-radius: 5px;
}
.title {
    font-weight: normal;
    font-size: 1.4rem;
}
.metadata {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.date {
    background-color: #eee;
    justify-self: stretch;
    padding: 10px 15px;
}
.title, .date, .author { margin: 0; }
.title {
    margin-top: 20px;
    margin-bottom: 5px;
}
.author {
    font-weight: normal;
    font-style: italic;
}
.btn_readmore {
    background-color: #0d6efd;
    border-radius: 5px;
    color: #fff;
    padding: 10px 15px;
    user-select: none;
}