#container {
    width: clamp(800px, 70%, 1500px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: auto;
    margin-top: 30px;
}
@media screen and (max-width:800px){
    #container {
        grid-template-columns: 1fr;
        width: 350px;
    }
}