.card {
    /* border: 1px solid #555; */
    box-shadow: 0 4px 8px 0 #00000033;
    transition: 0.3s;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto auto 1fr auto;
    gap: 10px;
    align-items: center;
}
.card:hover{ box-shadow: 0 8px 16px 0 #00000033; }
.title {
    margin: 0;
}
.cover_image {
    border-radius: 10px;
    border: 1px solid #999 !important;
    object-fit: contain;
    
}
.label {
    margin-right: 12px;
    font-weight: bold;
    line-height: 25px;
}
.status_text {
    line-height: 25px;
    margin-left: 10px;
}
.live_text {
    line-height: 25px;
    margin-left: 10px;
}
.title {
    font-weight: normal;
    font-size: 1.6rem;
}
.pills {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.pill {
    display: inline-block;
    padding: 0 10px;
    border: 1px solid #333;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    cursor: default;
    user-select: none;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.statusText {
    margin-left: 8px;
}
#description {
    margin-bottom: 10px;
    align-self: start;
    line-height: 25px;
}
#description_container {
    align-self: start;
}
.links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    place-items: center;
}
.link {
    border-radius: 10px;
    color: #fff;
    padding: 10px 15px;
    line-height: 1rem;
    transition: background-color 0.2s linear 0s;
}
#githubLink { background-color: #161b22; }
#githubLink:hover { background-color: #3a424d; }
#liveLink { background-color: #0d6efd; }
#liveLink:hover { background-color: #428eff; }
.disabled {
    background-image: repeating-linear-gradient(135deg, #555, #555 20px, #666 20px, #666 40px);
    pointer-events: none;
}
@media(prefers-color-scheme: dark) {
    .card {
        background-color: #0d1117;
        box-shadow: 0 4px 8px 0 #00000033;
    }
    .card:hover{ box-shadow: 0 8px 16px 0 #00000033; }
}