.card {
    border: 1px solid #555;
    border-radius: 10px;
    padding: 20px;
}
.cover_image {
    border-radius: 10px;
}
.label {
    margin: 0 12px 0 0;
    font-weight: bold;
}
.status {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.statusText {
    margin: 0;
    margin-left: 8px;
}