.container {
    position: relative;
    display: block;
}
.symbol {
    position: absolute;
    color: transparent;
    text-shadow: 1px 1px 1px #fff;
}
.normalSymbol {
    line-height: 1rem;
    top: 3px;
    left: 5px;
}
.subtract {
    top: 2px;
    left: 2px;
    font-size: 0.8rem;
}