.container {
    position: relative;
    display: block;
}
.symbol {
    position: absolute;
    color: transparent;
    text-shadow: 1px 1px 1px #fff;
}
.normalSymbol {
    line-height: 25px;
    top: 0px;
    left: 6px;
}
.subtract {
    line-height: 25px;
    top: -1px;
    left: 2.5px;
    font-size: 0.8rem;
}